body {
    text-align: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h2 {
    color: #006491;
    font-size: 36px;
    margin-top: 20px;
}
.construction-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.construction-message {
    color: #006491;
    font-size: 24px;
    margin-top: 20px;
    transition: transform 0.3s;
}

.construction-message:hover {
    transform: scale(1.1);
    font-weight: bold;
}
.navbar-brand {
    color: rgb(250, 241, 241) !important; /* Set the font color to white */
}

/* Custom CSS to make the font color white for Navbar links */
.nav-link {
    color: rgb(247, 240, 240) !important; /* Set the font color to white */
}


.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px; /* Adjust the space between links */
}



/* Add a hover effect */
.nav-link:hover {
    color: rgb(255, 255, 255) !important; /* Text color on hover */
    font-weight: bold; /* Text becomes bold on hover */
    text-decoration: underline; /* Add an underline on hover */
    text-decoration-skip-ink: none; /* Prevents the underline from skipping spaces */
    text-underline-offset: 4px; /* Adjust the space between text and underline */
    text-decoration-thickness: 2px; /* Adjust the spacing between text and underline */
}

/* Media query for small screens (e.g., mobile devices) */
@media (max-width: 768px) {
    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

     /* Hide the search and cart icons */
     .nav-icon i {
        display: none;
    }
    
    .col-md-2 {
        margin-top: 30px;
        margin-left: 0px; /* Add the styles you want for small screens here */
        text-align: center;
    }

    .col-md-3 {
        margin-top: 30px;
        margin-left: 0px; /* Add the styles you want for small screens here */
        text-align: center;
    }

    .col.mb-3 {
        margin-top: 10px; /* Reduce top margin for spacing between cards */
        margin-left: 10px; /* Remove left margin to center-align cards */
    }
    
    .card {
        width: 100%; /* Make cards full-width on mobile */
        margin-bottom: 10px; /* Add margin at the bottom of each card for spacing */
    }


    .card-img-top {
        height: auto; /* Allow images to adjust their height based on the aspect ratio */
    }

    .card-title {
        font-size: 18px; /* Decrease the font size for card titles */
    }

    .card-text {
        font-size: 14px; /* Decrease the font size for card text */
    }

    .card-price {
        font-size: 20px; /* Decrease the font size for card prices */
    }
}



